* {
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration:  none !important;
  color : inherit !important
}

/* assign color and call classname in component -- see NAVBAR in Header.js */
.color-nav {
  background-color: #e4e0c7 ;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.error-helper{
  margin-top: 10px;
  color: darkred;
  font-style: italic;
  text-align: end;
}

.displayed-image {
  height: 300px;
  width: 300px;
}

.displayed-label-logo {
  height: 50px;
  width: 50px
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
