* {
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration:  none !important;
  color : inherit !important
}

.suggestion {
  cursor: pointer;
}

.suggestion:hover {
  background-color: whitesmoke;
}

.btn-link {
  color: grey !important
}


/* button:focus, button:active, button:hover, 
.btn:active{
  outline: 0px !important;
  -webkit-appearane:none;
  box-shadow: none !important
} */
/* assign color and call classname in component -- see NAVBAR in Header.js */
.color-nav {
  background-color: #e4e0c7 ;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.error-helper{
  margin-top: 10px;
  color: darkred;
  font-style: italic;
  text-align: end;
}

.displayed-image {
  height: 300px;
  width: 300px;
}

.displayed-label-logo {
  height: 50px;
  width: 50px
}

.grey-line{
  /* height:10px; */
  width:100%;
  border-bottom: 1px; 
  border-bottom-style: solid;
  border-bottom-color: #4a4a4a;
}

.light-grey-line{
  width: 100%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b3b3b3f4
}

.cart-update-qty-box{
  display:flex;
  align-items: center;
}

.cart-update-qty{
  border: none;
  color: #4a4a4a;
  height: 100%;
}

.cart-qty-cta{
  border: none;
  background-color: white;
  color: #4a4a4a;
  padding: 0;

  top: 0%;
  right:2%
}

.cart-qty-cta:hover{
  color: #d6954b;
  text-decoration: underline;
}

.cart-indi-des{
  font-size: 0.8em;
}

.cart-indi-cost{
  position: absolute;
  right:2%;
  bottom:-10%;

}

.cart-total-cost{
  display:flex;
  justify-content: space-between;
  color: #4a4a4a;
}

.cart-checkout{
  display:flex;
  justify-content: center;
}

.cart-img-container{
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
