* {
  font-family: 'Inconsolata', monospace;
}

html, body {
  min-height: 100vh;
}

body { 
  padding-top: 100px; 
}

a {
  text-decoration:  none !important;
  color : inherit !important
}

#login-wrapper {
  width: 300px;
  height: 300px;
  justify-content: center ;
}
.suggestion {
  cursor: pointer;
}

.suggestion:hover {
  background-color: whitesmoke;
  font-style: italic;
}

.btn-link {
  color: grey !important
}

.modal-80w {
  min-width:80%;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

/* button:focus, button:active, button:hover, 
.btn:active{
  outline: 0px !important;
  -webkit-appearane:none;
  box-shadow: none !important
} */
/* assign color and call classname in component -- see NAVBAR in Header.js */
.color-nav {
  background-color: rgb(9, 2, 2);
  color: white
}
.footer-wrapper{
  background-color: rgb(9, 2, 2);
  margin-top: 50px;
  padding:2em;
  color: white
}

.error-helper{
  margin-top: 10px;
  color: darkred;
  font-style: italic;
  text-align: end;
}

.displayed-image {
  height: 300px;
  width: 300px;
}



.displayed-label-logo {
  height: 50px;
  width: 50px
}

.grey-line{
  /* height:10px; */
  width:100%;
  border-bottom: 1px; 
  border-bottom-style: solid;
  border-bottom-color: #4a4a4a;
}

.light-grey-line{
  width: 100%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b3b3b3f4
}

.cart-update-qty-box{
  display:flex;
  align-items: center;
}

.cart-update-qty{
  border: none;
  color: #4a4a4a;
  height: 100%;
}

.cart-qty-cta{
  border: none;
  background-color: white;
  color: #4a4a4a;
  padding: 0;

  top: 0%;
  right:2%
}

.cart-qty-cta:hover{
  color: #d6954b;
  text-decoration: underline;
}

.cart-indi-des{
  font-size: 0.8em;
}

.cart-total-cost{
  display:flex;
  justify-content: space-between;
  color: #4a4a4a;
}

.cart-checkout{
  display:flex;
  justify-content: center;
}

.cart-img-container{
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
}


@media screen and (min-width: 768px) {
  #cta {
    position:absolute;
    top: 35%;
    right: 30%;
    opacity: 0.7;
    color: white;
    background-color: black;
  }
  }

